#container{
    background-color: rgb(255, 255, 255);
    margin: 30px 30px 30px 30px;
}
.namaBank{
    margin-top: 59px;
    font-size: large;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.namaBank:hover{
    text-shadow: 1px 2px 1px rgb(0, 204, 255);
    font-size: 20px;
}